.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header p {
    width: 20%;
    font-size: 68px;
}
.navBTN {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav  {
    width: 80%;
}
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul a {
     padding-right: 5%;
     font-size: 16px;
     border-bottom: 1px solid transparent;
     text-decoration: none;
}
.BTN {
    width: 20%;
    height: 63px;
    border-radius: 50px; 
    font-size: 16px;
    border: 1px solid transparent;
    cursor: pointer; 
}
.BTN:hover {
    background-color: #72A1FF;
    color: #FFFFFF;
}
nav a:hover {
    border-bottom: 3px solid #C898FF;
}
/* დაიწყო first section  */
  .first {
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
  }
  .AirmusicAwesomeSounds {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  .AirmusicAwesomeSounds h1 {
      font-size: 62px;
      width: 80%;
      margin-bottom: 51px;
  }
  .AirmusicAwesomeSounds p {
      width: 80%;
      font-size: 16px;
      line-height: 40px;
      margin-bottom: 50px;
  }
  .AIRPODS {
      width: 50%;
  }
  /* დაიწყო second section  */
  .second{
      width: 100%;
      height: 813px;
      background-image: url("/image/Rectangle.png"); 
  }
  .rain {
      width: 90%;
      margin-left: 5%;
  }
  .GreatestSpecificationsH3 {
      text-align: center;
      font-size: 35px;
      color: #FFFFFF;
      margin-top: 197px;
  }
  .GreatestSpecificationsP {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
  }
  /* დაიწყო third section */
  .third {
    width: 100%;
    background-color: #F8FAFE;
  }
  .airpods2 {
    margin-top: -25%;
    margin-left: 30%;
}
  .third h2 {
    font-size: 40px;
    margin-bottom: 2%;
    margin-left: 12%;
  }
  .strips {
      float: right;
      margin-top: -23%;
  }
  .thirdFeatures {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
  }
  .Features {
      width: 31%;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FFFFFF;
      border-radius: 3%;
      margin-right: 2%;
      margin-bottom: 5%;
      padding-top: 5%;
      position: relative;
  }
  .Features:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #72A1FF;
      border-radius: 3%;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.5s;
  }
  .Features:hover:before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.5s;
  }
  .Features img {
      position: relative;
      z-index: 2;
      transition: 0.5s;
  }
  .FeaturesP1 {
    font-size: 35px;
    padding-top: 5%;
    position: relative;
    z-index: 2;
    transition: 0.5s;
  } 
  .FeaturesP2 {
    font-size: 14px;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: 0.5s;
  }
  /* დაიწყო section "fourth" */
  .fourth {
      width: 100%;
  }
  .appleAirpod {
      width: 500px;
      height: 500px;
      margin-top: -12%;
  }
  .fourthP1 {
      text-align: center;
      font-size: 40px;
      margin-top: -5%;
  }
  .fourthP2 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 5%;
  }
  .faqContainer {
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .faq {
      width: 45%;
      height: 82%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .faqDiv {
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  .question {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid black;
      padding-left: 5%;
      border-radius: 7px;
      margin-bottom: -6%;
  }
  .question h3 {
      margin-left: 4%;
  }
  .line {
      border: 1px solid black;
      height: 30px;
      margin-left: 4%;
  }
  .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: 0;
    padding: 5% 5%;
    transition: max-height 1.4 ease;
    display: none;
  }
  .faq .active .answer {
    display: flex;
  }
  .faq .active svg {
      transform: rotate(180deg);
  }
  /* დაიწყო fifth section  */
  .fifth {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
  }
  .imageDIV {
    width: 55%;
    height: 1018px;
    background-image: url("/image/big.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.color1 {
   display: flex;
   justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 34px;
    height: 700px;
    width: 50%;
    margin-left: 18%;
    margin-top: 12%;
}
.volume {
    width: 50%;
    height: 50%;
}
.BULLETS {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.medium {
    margin-left: 60%;
}
.mediumSMALL {
    /* margin-top: -90%; */
    margin-bottom: 120px;
}
.orderNow {
    width: 40%;
}
.orderNowP1 {
    width: 100%;
    font-size: 40px;
}
.orderNowP2 {
    width: 80%;
    font-size: 16px;
}
.selectColor {
    width: 100%;
    display: flex;
    align-items: center;
}
.selectColor p {
    width: 20%;
    font-size: 22px;
    margin-right: 5%;
}
.bullets {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
#black1 {
    border-radius: 50%;
    background-color: black;
    width: 24px;
    height: 24px;
    margin-right: 2%;
}
#white {
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    width: 22px;
    height: 22px;
    margin-right: 2%;
}
#red {
    border-radius: 50%;
    background-color: #FF4848;
    width: 24px;
    height: 24px;
    margin-right: 2%;
}
#blue {
    border-radius: 50%;
    background-color: #72A1FF;
    width: 24px;
    height: 24px;
}
.price {
    width: 100%;
    display: flex;
    align-items: center;
}
.size {
    border: 1px solid black;
    margin-right: 5%;
    border-radius: 5px;
}
.priceP1 {
    font-size: 37px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5%;
}
.priceP2 {
    font-size: 57px;
}
.orderNowBTN {
    width: 276px;
    height: 73px;
    border: 1px solid transparent;
    border-radius: 37px;
    font-size: 24px;
    color: black;
    cursor: pointer; 
}
.orderNowBTN:hover {
    background-color: #72A1FF;
    color: #FFFFFF;
}
/* დაიწყო sixth section  */
.sixth {
    width: 100%;
    display: flex;
    margin-top: 165px;
}
.earponesNotebook {
    width: 40%;
}
.imgDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.imgDiv1 {
    width: 100%;
    display: flex;
}
.imgDiv1 img {
    width: 50%;
}
/* დაიწყო seventh section  */
.seventh {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 136px;
    margin-bottom: 189px;
}
.seventh h1 {
    width: 70%;
    font-size: 40px;
    display: flex;
    flex-direction: row;
}
.seventh h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 4px solid #C898FF;
    margin: auto;
  }
.seventh h1:before {
    margin-right: 10px
  }
.seventh h1:after {
    margin-left: 10px
  }
.seventh p {
    width: 70%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5%;
}
form {
    width: 100%;
}
.nameEmail {
    width: 100%;
    display: flex;
}
.name {
    width: 48%;
    margin-right: 4%;
}
.email {
    width: 48%;
}
input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 2%;
}
textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 2%;
}
.textarea {
    margin-top: 5%;
}
/* დაიწყო footer  */
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footDV1 {
    width: 33.3%;
}
.footDV1 img {
    width: 100%;
}
.footDV2 {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footDV2 p {
    font-size: 16px;
}
.black {
    width: 60%;
    border-bottom: 2px solid black;
}
.icones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.icones a {
    margin-right: 3%;
}
.footDV3 {
    width: 33.3%;
}
.footDV3 img {
    width: 100%;
}
